html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: lighter;
}

body {
    text-align: center;
    background-image: url(image/background-website-01.jpg);
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: poppins;
    color: #fff;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {
    text-decoration: none;
    font-family: poppins;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    transition: 0.5s ease;
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(image/background-website-01.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: black;
}

.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: #ebebeb;
}

.content-area h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
}

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}


img {
    width: 300px;
    height: 180px;
    float: left;
    transition: 0.5s ease;
}

img:hover {
    transform: scale(1.0);
    box-shadow: 5px 5px 15px rgb(23, 150, 192);
    -webkit-animation: mirror 2s ease-in-out infinite alternate;
    -moz-animation: mirror 2s ease-in-out infinite alternate;
    animation: mirror 2s ease-in-out infinite alternate;
}

.bigbody {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 110px 110px 70px;
    grid-template-areas: "image" "text" "bot";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: roboto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;

}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin-left: 3px;
    margin-right: 3px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px white;
}

.card {
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card-bot {
    grid-area: bot;
    display: grid;
    grid-template-columns: 6fr 6fr 0fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;   
}